# Python and Django specific
__pycache__/
*.py[cod]
*$py.class
*.so

# Environment
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual Environment Configuration
pip-log.txt
pip-delete-this-directory.txt

# Database
*.sqlite3

# Logs
logs/
*.log

# Git
.git/
.gitignore

# Docker
Dockerfile
.dockerignore
docker-compose.yml

# IDEs and Editors
.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store

# Temporary files
tmp/
*.bak

# Static and media files
staticfiles/
media/
